body {
  padding-bottom: 70px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Screen shots */
.screen p {
  font-size: 10px;
}

#footer {
  padding-top: 10px;
  font-size: 10px;
  color: gray;
}

img {
  max-width: 100%;
  height: auto:
}